body {
    display: flex;
    background: purple;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reset-button {
    margin-bottom: 10px;
    width: 100px;
    height: 50px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 800px;
    height: 800px;
}